<app-menu></app-menu>
<router-outlet></router-outlet>











<!-- <div class="text-layout">
  <h1> {{ nombre | titlecase }}</h1>
  <h1> {{ valor | number }}</h1>
  <h1> {{ obj | json }}</h1>
</div>

<button pButton
        icon="pi pi-bell"
        iconPos="right"
        class="p-button-help"
        (click)="mostrarNombre()"
        label="Cambiar Nombre"></button>

        <p-card [header]="nombre | uppercase"
                subheader="Ingeniero Informático"
                >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis quod iure dignissimos, repellat impedit aut veniam temporibus ex doloribus excepturi aliquam, minima cupiditate natus, possimus recusandae voluptas! Eius, necessitatibus!
      </p-card>
 -->

